.Header {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #000;
    width: 30rem;
    text-align: center;
    background-color: #ddd;
    
}
.Header a {
    margin: 10px 20px;   
    text-decoration: none;
    color: #000;
}
.Header a:hover {
    color: green;
}